/* Google web font CDN*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');


#login-title {
    text-align: center;
    padding-bottom: 30px;
}

#login-button {
    margin-top: 15px;
    width: 100%;
}



