@import './style/reset.css';


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.writing:hover {
  animation: bounce 0.4s ease-in-out;
}

.sroll-to-top:hover {
  animation: bounce 0.3s ease-in-out;
}

.writing {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) -4px 9px 25px -15px;
}

.container {
  max-width: 60%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 97%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.default-btn:hover {
  background-color: #016a2df6;
}

.delete-btn:hover {
  background-color: #7f8c8d;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  height: 60vh;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-group button{
  display: block;
  margin: 0 auto;
  width: 45%;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  margin-top: 40px;
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-content {
  padding: 60px 120px 60px 120px;
  background-color: white;
  border: 2px solid #eee;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.2) -4px 9px 25px -15px;
}

.user-comment-wrap {
  padding: 10px 120px 5px 120px;
}

.user-id-box {
  padding-top: 5px;
}

.comment-comment-button {
  cursor: pointer;
  color: #888;
}

.comment-box {
  padding: 0px 120px 0px 120px;
}

.comment-input {
  width: 100%;
  font-size: large;
  height: 10vh;
  padding: 30px;
}

#comment-button-box {
  padding: 0px 100px 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users-comment-wrap {
  padding: 10px;
}

.users-comment {
  padding: 0px 0px 15px 35px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


